# Text files
!Examples/Data/2d_x_test.txt
!Examples/Data/2d_x_train.txt
!Examples/Data/2d_y_train.txt
!Examples/Data/honda_x_test.txt
!Examples/Data/honda_x_train.txt
!Examples/Data/honda_y_train.txt

# Rhistory
.Rhistory

# Python cache
__pycache__/*
*.pyc

# autotools products
src/Makefile
src/compile
src/depcomp
src/install-sh
src/libtool
src/missing

# Intermediate products of CLT build
src/*.o
src/*.lo
src/*.la
src/.deps/*
src/.libs/*
src/openbtcli
src/openbtmixing
src/openbtmixingpred
src/openbtmixingwts
src/openbtmopareto
src/openbtpred
src/openbtsobol
src/openbtvartivity

# Other folders
.vscode/*
src/autom4te.cache/*
autom4te.cache/*
__pycache__

# Standard intermediate products
openbtmixing_pypkg/dist
openbtmixing_pypkg/build
openbtmixing_pypkg/.coverage_openbt
openbtmixing_pypkg/coverage.xml
openbtmixing_pypkg/htmlcov
openbtmixing_pypkg/*.whl
openbtmixing_pypkg/src/openbtmixing.egg-info
# Installed OpenBT CLTs
openbtmixing_pypkg/src/openbtmixing/.bin

# Other files
config.guess
config.log
config.status
config.sub
!/src/configure
.DS_Store
