# Text files
!Examples/Data/2d_x_test.txt
!Examples/Data/2d_x_train.txt
!Examples/Data/2d_y_train.txt
!Examples/Data/honda_x_test.txt
!Examples/Data/honda_x_train.txt
!Examples/Data/honda_y_train.txt

# Rhistory
.Rhistory

# Python cache
__pycache__/*
*.pyc

# meson setup
subprojects/eigen-*
subprojects/packagecache

# Other folders
.vscode/*
__pycache__

# Standard intermediate products
openbtmixing_pypkg/dist
openbtmixing_pypkg/build
openbtmixing_pypkg/.coverage_openbt
openbtmixing_pypkg/coverage.xml
openbtmixing_pypkg/htmlcov
openbtmixing_pypkg/src/openbtmixing.egg-info

# Other files
.DS_Store
